<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Snippr</string>
	<key>CFBundleExecutable</key>
	<string>Snippr</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.manhhoang.snippr</string>
	<key>CFBundleName</key>
	<string>Snippr</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.13</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.manhhoang.snippr.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snippr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>30</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SnipprReleaseSignerSHA1</key>
	<string>946c43e6456970f5ec11544b3244c192aae949d6</string>
</dict>
</plist>
